[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-crispy-forms = "*"
pillow = "*"
whitenoise = "*"
gunicorn = "*"
django-rest-framework = "*"
django-rest-auth = {extras = ["with_social"], version = "*"}
django-allauth = "*"
coreapi = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.9"
